@using AntiFoodWasteBlazor.Client.Services
@using AntiFoodWasteBlazor.Shared.Models

@page "/"

<h1>Welcome to AntiFoodWaste!</h1>

<p>This is a Blazor WebAssembly application designed to help reduce food waste. Search on your danish zipcode.</p>


<div>
	<label>Søg på postnummer:</label>
	<input @bind="_zipCode" placeholder="Postnummer" />
	<button @onclick="GetFoodWasteProducts">Søg</button>
</div>

@code{
	[Inject]
	private SallingFoodWasteService SallingFoodWasteService { get; set; }

	private string _zipCode;

	List<FoodWasteProduct> foodWasteProductList = new List<FoodWasteProduct>();


	private async Task GetFoodWasteProducts()
	{
		foodWasteProductList = await SallingFoodWasteService.GetFoodWasteProductsAsync(_zipCode);
	}
}
